body{
 margin: 0;
 padding: 0;
 background-image: url("../img/image\ \(2\).jpg");
 background-repeat: no-repeat;
 background-size: cover;
}
.banner {
 max-width: 1200px;
 margin: auto;
 display: flex;
 justify-content: center;
 text-align: center;
 flex-wrap: wrap;
}

.navbar {
 overflow: hidden;
 padding: 0px 16px;
 display: flex;
 width: 85%;
 margin: auto;
}
.navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
.navbar ul li {
    display: inline-block;
    margin: 20px;
    list-style: none;
    position: relative;
}
.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background:#08B6CE;
    position: absolute;
    bottom: -10px;
    left: 0;
    transition: 0.5s;
}
.navbar ul li:hover::after {
    width: 100%;
}
.heading {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 45px;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}
.sub-heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  font-family: helvetica, sans-serif;
  text-align: center;
  cursor: pointer;
}
.button {
    position: absolute;
    top: 61%;
    left: 50%;
    transform: translate(-50%, -50%);
}
button {
    width:200px;
    margin: 20px 10px;
    border-radius: 25px;
    padding: 15px 0;
    font-weight: bold;
    border: 2px solid #08B6CE;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
} 
span {
    background: #08B6CE;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span {
    width: 100%;
}
button:hover {
    border: none;
}
.features {
    color: white;
    text-decoration: none;
    position: absolute;
    display: inline-block;
    left: 40%;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}
.features {
    content: '';
    height: 3px;
    width: 0;
    background: #08B6CE;
    position: relative;
    bottom: -5px;
    left: 0;
    transition: 0.5s;
}
.features :hover::after {
    width: 100%;
}
.service-container {
    
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.service-box {
    max-width: 25%;
    padding: 0;
    text-align: center;
    color:#08B6CE;
    cursor: pointer;
}
.service-title {
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: -15px;
}
.service-title:after {
    content: '';
    background: #08B6CE;
    display: block;
    width: 150px;
    height: 2px;
    margin: 10px auto;
}
.service-desc {
    color: white;
    text-size-adjust: 70%;
    font-family: helvetica, sans-serif;
    font-size: 15px;
}
.service-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: #08B6CE;
}
.service-icon i{
    display: table-cell;
    vertical-align: middle;
}
.gg-smartphone {
    left: 18px;
    top: 15px;
}
.gg-mail {
    left: 16px;
    top: 18px;
}
.gg-browse {
    left: 17px;
    top: 15px;
}
.gg-dollar {
    left: 23px;
    top: 16px;
}