*{
    margin: 0;
    padding: 0;
    font-family: helvetica, sans-serif;
}
.banner {
    background-repeat: no-repeat;
    background-color: black;
}
.navbar {
    display: block;
    height: 30px;
    line-height: 30px;
}
.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    
}
.navbar li {
    float: left;
}
.navbar li a {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #00a0ff;
}
.navbar li a.active {
    background-color:white;
}
img {
    width: 100%;
    height: 95vh;
    opacity: 0.4;
}
.heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 50px;
  font-family: helvetica, sans-serif;
}