body {
 margin: 0;
 padding: 0;
 background-image: url("../img/image\ \(1\).jpg");
 background-repeat: no-repeat;
 background-size: cover;
}
.pricing-container {
 max-width: 1200px;
 margin: auto;
 display: flex;
 justify-content: center;
 text-align: center;
 flex-wrap: wrap;
}
.column {
 box-sizing: border-box;
 top: 90px;
 right: 10px;
 max-width: 320px;
 padding: 10px;
 position: relative;
}
.table {
 background: snow;
 padding: 80px 16px;
 font-family: 'Montserrat', sans-serif;
 font-size: 15px;
 text-align: center; 
 overflow: hidden;
 box-shadow: 0 0 7px #08B6CE;
 cursor: pointer;
 margin-bottom: 120%;
}
.table h2 {
 text-transform: uppercase; 
 font-size: 30px;
}
.table h2:after {
    content: '';
    background: #08B6CE;
    display: block;
    width: 115px;
    height: 3px;
    margin: 10px auto;
}
.table ul{
    margin: 0;
    padding:0;
    margin-bottom: 20px;
}
.table ul li {
    list-style: none;
    padding: 10px 0;
    margin-bottom: 10px;
}
.price {
    font-size: 30px;
    margin-bottom: 20px;
    top: 20px;
}
.price span {
    display: block;
    font-size: 18px;
}
.table a {
    text-decoration: none;
    color:#08B6CE;
    border: 2px solid #08B6CE;
    display: block;
    padding: 10px 0;
    margin: 10px 0;
    border-radius: 40px;
    text-transform: uppercase;
    transition: 0.5s linear;
}
.table a:hover{
    background: #08B6CE;
    color: white;
}
.navbar {
 overflow: hidden;
 padding: 0px 16px;
 display: flex;
 width: 85%;
}
.navbar ul li a {
    color: white;
    width: 0;
    text-decoration: none;
    padding: 0;
    text-decoration-thickness: 2px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
.navbar ul li {
    display: inline-block;
    margin: 20px;
    list-style: none;
    position: relative;
}
.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background:#08B6CE;
    width: 0;
    position: absolute;
    bottom: -10px;
    left: 0;
    transition: 0.5s;
}
.navbar ul li:hover::after {
    width: 100%;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
}
.faq-container {
    width: 100%;
    max-width: 80rem;
    position: relative;
    margin: 0 auto;
    padding: 0 15px;
}
.faq-heading h1 {
     color: white;
    text-decoration: none;
    position: absolute;
    display: inline-block;
    left: 39%;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    overflow: hidden;
    top:-40%;
}
.faq-heading h1:after{
     content: '';
    background: #08B6CE;
    display: block;
    width: 200px;
    height: 2.5px;
    margin: 10px auto;
}
.accordion-item {
    background-color: #283042;
    border-radius: 0.4rem;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0 0 5px #08B6CE;
}
.accordion-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: white;
    text-decoration: none;
    background-color: #283042;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.accordion-link i{
    color: #08B6CE;
    padding: 5px;
}
.accordion-link .gg-remove {
    display: none;
}
.answer {
    overflow: hidden;
    max-height: 0;
    position: relative;
    background-color: #212838;
    transition: max-height 650ms;
}
.answer::before {
    position: absolute;
    width: 6px;
    content: "";
    height: 90%;
    background-color: #08B6CE;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.answer p {
    font-size: 18px;
    color: #08B6CE;
    padding: 20px;
}
.accordion-item:target .answer {
    max-height: 20rem;
}
.accordion-item:target .accordion-link .gg-add {
    display: none;
}
.accordion-item:target .accordion-link .gg-remove {
    display: block;
}
