body {
 margin: 0;
 padding: 0;
 background-image: url("../img/image\ \(1\).jpg");
 background-repeat: no-repeat;
 background-size: cover;
}
.pricing-container {
 max-width: 1200px;
 margin: auto;
 display: flex;
 justify-content: center;
 text-align: center;
 flex-wrap: wrap;
}
.column {
 box-sizing: border-box;
 top: 90px;
 right: 10px;
 max-width: 320px;
 padding: 10px;
 position: relative;
}
.table {
 background: snow;
 padding: 80px 16px;
 font-family: 'Montserrat', sans-serif;
 font-size: 15px;
 text-align: center; 
 overflow: hidden;
 box-shadow: 0 0 7px #08B6CE;
 cursor: pointer;
}
.table h2 {
 text-transform: uppercase; 
 font-size: 30px;
}
.table h2:after {
    content: '';
    background: #08B6CE;
    display: block;
    width: 115px;
    height: 3px;
    margin: 10px auto;
}
.table ul{
    margin: 0;
    padding:0;
    margin-bottom: 20px;
}
.table ul li {
    list-style: none;
    padding: 10px 0;
    margin-bottom: 10px;
}
.price {
    font-size: 30px;
    margin-bottom: 20px;
    top: 20px;
}
.price span {
    display: block;
    font-size: 18px;
}
.table a {
    text-decoration: none;
    color:#08B6CE;
    border: 2px solid #08B6CE;
    display: block;
    padding: 10px 0;
    margin: 10px 0;
    border-radius: 40px;
    text-transform: uppercase;
    transition: 0.5s linear;
}
.table a:hover{
    background: #08B6CE;
    color: white;
}
.navbar {
 overflow: hidden;
 padding: 0px 16px;
 display: flex;
 width: 85%;
}
.navbar ul li a {
    color: white;
    width: 0;
    text-decoration: none;
    padding: 0;
    text-decoration-thickness: 2px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
.navbar ul li {
    display: inline-block;
    margin: 20px;
    list-style: none;
    position: relative;
}
.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background:#08B6CE;
    width: 0;
    position: absolute;
    bottom: -10px;
    left: 0;
    transition: 0.5s;
}
.navbar ul li:hover::after {
    width: 100%;
}