body {
 margin: 0;
 padding: 0;
 background-image: url("../img/image\ \(1\).jpg");
 background-repeat: no-repeat;
 background-size: cover;
}
.pricing-container {
 max-width: 1200px;
 margin: auto;
 display: flex;
 justify-content: center;
 text-align: center;
 flex-wrap: wrap;
}
.column {
 box-sizing: border-box;
 position: relative;
 top: 100px;
 max-width: 320px;
}
.table {
    
}
.navbar {
 overflow: hidden;
 padding: 0px 16px;
 display: flex;
 width: 85%;
}
.navbar ul li a {
    color: white;
    width: 0;
    text-decoration: none;
    padding: 0;
    text-decoration-thickness: 2px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
.navbar ul li {
    display: inline-block;
    margin: 20px;
    list-style: none;
    position: relative;
}
.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background:#08B6CE;
    width: 0;
    position: absolute;
    bottom: -10px;
    left: 0;
    transition: 0.5s;
}
.navbar ul li:hover::after {
    width: 100%;
}